* {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: auto;
  background-image: url("/public/images/background.jpg");
}

.Second_Section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  border: 1px solid rgb(238, 228, 228);
  padding: 32px;
  border: none;
  border-radius: 11px;
  width: 23%;
  margin-right: 150px;
  box-shadow: 4px 3px 10px 0px #0166e140;
  margin-left: 50px;
  z-index: 1;
}

.First_Section {
  height: 500px;
  width: 23%;
  margin-left: 250px;
}

input {
  background: rgba(150, 194, 248, 0.361);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  border: none;
  padding-left: 10px;
  width: 345px;
  height: 40px;
  margin-top: 10px;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 178px;
}

.word {
  padding-left: 20px;
}

#submit {
width: 355px; 
background-color: #0165E1; 
color:white;
font-weight: bold;
cursor: pointer;
}
#submit:hover{
  color:rgb(212, 204, 204)
}